@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$default-margin: 0;
$default-padding: 0;
$default-box_sizing: border-box;
$font-familiy: ('Roboto', sans-serif);

* {
    margin: $default-margin;
    padding: $default-padding;
    box-sizing: $default-box_sizing;
    font-family: $font-familiy;
}

html, 
body {
    height: 100vh;    
}